@model HandleErrorInfo

@{
    ViewBag.Title = "403 Error";
}

<h1 class="text-danger">Forbidden.</h1>
<h2 class="text-danger">"You do not have permissions to access this feature, please contact the GSM system administrator for access."</h2>

