################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GSM/.vs
/GSM/**/bin/
/GSM/**/obj/
/GSM/packages
*.user
