.red-highlighting {
    color: red;
}

.full-width {
    width: 100%;
}

.label-top {
    position: relative;
    top: -10px;
    left: 5px;
}

.select-file-control {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.process-btn {
    margin-top: 15px;
    margin-left: 78px;
}

#imported-strands-panel {
    min-height: 400px;
}

.table-cell {
    padding-left: 10px;
    padding-top: 5px;
}

.delete-strand, .edit-strand {
    cursor: pointer;
}

.duplicated-strand {
    border-bottom: 1px solid red !important;
    border-top: 1px solid red !important;
}

    .duplicated-strand:first-child {
        border-left: 1px solid red !important;
    }

    .duplicated-strand:last-child {
        border-right: 1px solid red !important;
    }
