@{
    Layout = "_Layout.cshtml";
}

<div class="col-md-10" ng-app="app.targets" ng-controller="CreateTargetCtrl as vm">
    <h3 style="margin-top:0;">Create Target</h3>
    <form name="form" class="form-horizontal" ng-submit="vm.submit()">
        <div class="form-group">
            <label class="col-md-2 control-label" style="text-align:left;" for="txtName">Target Name:</label>
            <div class="col-md-6">
                <span class="text-danger field-validation-error" ng-bind="vm.target.Error.Name"></span>
                <input class="form-control" id="txtName" style="max-width:59%;" type="text" ng-model="vm.target.Name" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <div class="btn-group">
                    <input type="submit" id="submit" value="Save" class="btn btn-success btn-primary center-block" ng-disabled="!vm.permitSubmit()" />
                    <input type="button" id="cancel" value="Cancel" class="btn btn-default" ng-click="vm.cancelChanges()" />
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script src="~/Scripts/angular-app/common/commonSection.js"></script>
    <script src="~/Scripts/angular-app/common/dataProvider.js"></script>

    @Scripts.Render("~/bundles/logger")

    <script src="~/Scripts/angular-app/services/servicesSection.js"></script>
    <script src="~/Scripts/angular-app/widgets/widgetsSection.js"></script>
    
    @Scripts.Render("~/bundles/create-target")
}
