@using GSM.Infrastructure.Filters
@using GSM.Utils
@{
	Layout = "~/Views/Duplex/_Layout.cshtml";
}

@section styles
{
	<link href="~/Content/Styles/Duplexes/edit-duplex-batch.css" rel="stylesheet" />
}

<div ng-app="app.duplexes" ng-controller="EditDuplexBatchCtrl as vm" ng-cloak>
	<div class="row">
		<h3 class="form-header" ng-cloak>{{vm.pageMode(!vm.editMode)}} Duplex Batch #{{vm.duplexBatch.DuplexBatchNumber}}</h3>
		@if (User.HasPermissions(Permission.CreateDuplex))
		{
			<div class="col-md-2 pull-right">
				<div class="btn-group">
					<input id="pageMode" type="button" value="{{vm.pageMode(vm.editMode)}}" class="btn btn-default" ng-click="vm.viewModeChange()" />
				</div>
			</div>
		}
	</div>
	<form name="form" class="form-horizontal" ng-submit="vm.submitForm()">
		<div class="row">
			<div class="panel panel-default"
				 ng-class="{ 'invalid': vm.isFormSubmitted && !vm.isDuplexSelected() }">
				<label class="label label-default label-top">Duplex</label>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-1">
							<div class="table-header">Duplex ID</div>
							<div ng-bind="vm.duplexBatch.Duplex.DuplexId"></div>
						</div>
						<div class="col-md-2">
							<div class="table-header">Sense Strand ID</div>
							<div ng-bind="vm.duplexBatch.Duplex.SenseStrand.StrandId"></div>
						</div>
						<div class="col-md-3">
							<div class="table-header">Sense Sequence 5'->3'</div>
							<div ng-bind="vm.duplexBatch.Duplex.SenseStrand.Sequence"></div>
						</div>
						<div class="col-md-2">
							<div class="table-header">Anti Sense Strand ID</div>
							<div ng-bind="vm.duplexBatch.Duplex.AntiSenseStrand.StrandId"></div>
						</div>
						<div class="col-md-3">
							<div class="table-header">Anti Sense Sequence 5'->3'</div>
							<div ng-bind="vm.duplexBatch.Duplex.AntiSenseStrand.Sequence"></div>
						</div>
						<div class="col-md-1">
							<div class="table-header">Target</div>
							<div ng-bind="vm.duplexBatch.Duplex.Target.Name"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default"
					 ng-class="{ 'invalid': vm.isFormSubmitted && !vm.isSenseStrandBatchSelected()}">
					<label class="label label-default label-top">Sense Strand Batches</label>
					<div class="panel-body">
						<div class="form-group">
							<div class="col-md-10">
								<div class="strand-batch-table">
									<div class="table-header-row">
										<div class="col-md-5">
											<div class="table-header">Strand Batch ID</div>
										</div>
										<div class="col-md-5">
											<div class="table-header">Total Used</div>
										</div>
										<div class="col-md-2 text-center" ng-show="vm.editMode">
											<div class="table-header">Remove</div>
										</div>
									</div>
									<div class="table-row" ng-repeat="strandBatch in vm.getSenseStrandBatches() track by strandBatch.Id">
										<div class="col-md-5">
											<div ng-bind="strandBatch.StrandBatch.BatchNumber"></div>
										</div>
										<div class="col-md-5">
											<div ng-show="!vm.isStrandBatchTotalUsedDefined(strandBatch) && vm.editMode">
												<input ng-model="strandBatch.TotalUsed" name="strand-batch-{{strandBatch.StrandBatch.BatchNumber}}"/>
											</div>
											<p ng-show="!vm.editMode || vm.isStrandBatchTotalUsedDefined(strandBatch)" ng-bind="strandBatch.TotalUsed"></p>
										</div>
										<div class="col-md-2 text-center" ng-show="!vm.isStrandBatchTotalUsedDefined(strandBatch) && vm.editMode">
											<a class="remove-strand-btn" ng-click="vm.removeStrandBatch(strandBatch)">X</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-2" ng-show="vm.editMode">
								<div class="row">
									<div class="col-md-2">
										<input type="button" value="Add..."
											   class="btn btn-sm btn-default"
											   ng-disabled="!vm.isDuplexSelected()"
											   ng-click="vm.selectSenseStrandBatches()" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default"
					 ng-class="{ 'invalid': vm.isFormSubmitted && !vm.isAntiSenseStrandBatchSelected() }">
					<label class="label label-default label-top">Anti Sense Strand Batches</label>
					<div class="panel-body">
						<div class="form-group">
							<div class="col-md-10">
								<div class="strand-batch-table">
									<div class="table-header-row">
										<div class="col-md-5">
											<div class="table-header">Strand Batch ID</div>
										</div>
										<div class="col-md-5">
											<div class="table-header">Total Used</div>
										</div>
										<div class="col-md-2 text-center" ng-show="vm.editMode">
											<div class="table-header">Remove</div>
										</div>
									</div>
									<div class="table-row" ng-repeat="strandBatch in vm.getAntiSenseStrandBatches() track by strandBatch.Id">
										<div class="col-md-5">
											<div ng-bind="strandBatch.StrandBatch.BatchNumber"></div>
										</div>
										<div class="col-md-5">
											<div ng-show="!vm.isStrandBatchTotalUsedDefined(strandBatch) && vm.editMode">
												<input ng-model="strandBatch.TotalUsed" name="strand-batch-{{strandBatch.StrandBatch.BatchNumber}}"/>
											</div>
											<p ng-show="!vm.editMode || vm.isStrandBatchTotalUsedDefined(strandBatch)" ng-bind="strandBatch.TotalUsed"></p>
										</div>
										<div class="col-md-2 text-center" ng-show="!vm.isStrandBatchTotalUsedDefined(strandBatch) && vm.editMode">
											<div class="remove-strand-btn" ng-click="vm.removeStrandBatch(strandBatch)">X</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-2" ng-show="vm.editMode">
								<div class="row">
									<div class="col-md-2">
										<input type="button" value="Add..."
											   class="btn btn-sm btn-default"
											   ng-disabled="!vm.isDuplexSelected()"
											   ng-click="vm.selectAntiSenseStrandBatches()" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="col-md-4 control-label">Date Prepared:</label>
					<div class="col-md-5">
						<p class="input-group" ng-show="vm.editMode">
							<input type="text"
								   name="preparedDate"
								   class="form-control"
								   ng-class="{ 'invalid': vm.isFormSubmitted && form.preparedDate.$invalid }"
								   uib-datepicker-popup=""
								   ng-model="vm.duplexBatch.PreparedDate"
								   is-open="vm.isDatePickerOpened"
								   datepicker-options=""
								   date-disabled=""
								   close-text="Close"
								   required />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.selectDate()">
									<i class="">Select...</i>
								</button>
							</span>
						</p>
						<p class="control-label" ng-show="!vm.editMode" ng-bind="vm.duplexBatch.PreparedDate | date:'yyyy-MM-dd'"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Position:</label>
					<div class="col-md-5">
						<input name="position"
							   class="form-control"
							   ng-class="{ 'invalid': vm.isFormSubmitted && form.position.$invalid }"
							   ng-model="vm.duplexBatch.Position"
							   ng-show="vm.editMode"
							   required />
						<p class="control-label" ng-show="!vm.editMode" ng-bind="vm.duplexBatch.Position"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Run ID:</label>
					<div class="col-md-5">
						<input name="runId"
							   class="form-control"
							   ng-class="{ 'invalid': vm.isFormSubmitted && form.runId.$invalid }"
							   ng-model="vm.duplexBatch.RunId"
							   ng-show="vm.editMode"
							   required />
						<p class="control-label" ng-show="!vm.editMode" ng-bind="vm.duplexBatch.RunId"></p>
					</div>
					<p class="text-danger field-validation-error" ng-bind="vm.duplexBatch.Error.DuplexBatchNumber"></p>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">% FLP:</label>
					<div class="col-md-5">
						<input type="number"
							   step="0.01"
							   name="purity"
							   class="form-control"
							   ng-class="{ 'invalid': vm.isFormSubmitted && form.purity.$invalid }"
							   ng-model="vm.duplexBatch.Purity"
							   ng-show="vm.editMode"
							   min="1"
							   max="100" />
						<p class="control-label" ng-show="!vm.editMode" ng-bind="vm.duplexBatch.Purity"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Concentration (mg/ml):</label>
					<div class="col-md-5">
						<input type="number"
							   step="0.1"
							   name="concentration"
							   class="form-control"
							   ng-class="{ 'invalid': vm.isFormSubmitted && form.concentration.$invalid }"
							   ng-model="vm.duplexBatch.Concentration"
							   ng-show="vm.editMode"
							   min="0" />
						<p class="control-label" ng-show="!vm.editMode" ng-bind="vm.duplexBatch.Concentration"></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<input type="checkbox" class=""
							   ng-model="vm.duplexBatch.Unavailable"
							   ng-disabled="!vm.editMode" />
						<label class="control-label"> No longer Available</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Notes:</label>
					<div class="col-md-5">
						<textarea class="form-control"
								  rows="5"
								  ng-model="vm.duplexBatch.Notes"
								  ng-show="vm.editMode"></textarea>
						<p ng-bind="vm.duplexBatch.Notes" ng-show="!vm.editMode"></p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="col-md-4 control-label">Prepared Volume (μl):</label>
					<div class="col-md-5">
						<input type="number"
							   step="0.1"
							   name="preparedVolume"
							   class="form-control"
							   ng-class="{ 'invalid': vm.isFormSubmitted && form.preparedVolume.$invalid}"
							   ng-model="vm.duplexBatch.PreparedVolume"
							   ng-show="vm.editMode"
							   min="1" />
						<p class="control-label" ng-show="!vm.editMode" ng-bind="vm.duplexBatch.PreparedVolume"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Misc Volume Used(μl):</label>
					<div class="col-md-5">
						<input type="number"
							   step="0.1"
							   name="miscVolumeUsed"
							   class="form-control"
							   ng-class="{ 'invalid': vm.isFormSubmitted && form.miscVolumeUsed.$invalid}"
							   ng-model="vm.duplexBatch.MiscVolumeUsed"
							   ng-show="vm.editMode"
							   min="0"
							   max="{{vm.duplexBatch.PreparedVolume || 0}}" />
						<p class="control-label" ng-show="!vm.editMode" ng-bind="vm.duplexBatch.MiscVolumeUsed"></p>
					</div>
				</div>
				<div class="form-group" ng-show="!vm.editMode">
					<label class="col-md-4 control-label">Remaining Volume (μl):</label>
					<div class="col-md-5">
						<p class="control-label" ng-show="!vm.editMode" ng-bind="vm.duplexBatch.RemainingVolume | number:2"></p>
					</div>
				</div>
				<div class="form-group" ng-show="!vm.editMode">
					<label class="col-md-4 control-label">Amount Remaining (mg):</label>
					<div class="col-md-5">
						<p class="control-label" ng-show="!vm.editMode" ng-bind="vm.duplexBatch.AmountRemaining | number:1"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-show="vm.editMode">
			<div class="col-md-2 col-md-offset-10">
				<div class="btn-group">
					<input type="submit" id="submit" value="Save" class="btn btn-success btn-primary center-block" ng-click="vm.onSubmit();" />
					<input type="button" id="cancel" value="Cancel" class="btn btn-default" ng-click="vm.cancelChanges()" />
				</div>
			</div>
		</div>
	</form>
</div>

@section scripts
{
	@Scripts.Render("~/bundles/contextmenu")
	<script src="~/Scripts/angular-ui-router/angular-ui-router.js"></script>
	<script src="~/Scripts/angular-toastr/angular-toastr.tpls.js"></script>
	<script src="~/Scripts/angular-local-storage/angular-local-storage.js"></script>
	<script src="~/Scripts/ng-file-upload/ng-file-upload-shim.js"></script>
	<script src="~/Scripts/ng-file-upload/ng-file-upload.js"></script>

	@Scripts.Render("~/bundles/angular-app")

	<script src="~/Scripts/angular-app/common/commonSection.js"></script>
	<script src="~/Scripts/angular-app/common/dataProvider.js"></script>

	@Scripts.Render("~/bundles/logger")

	<script src="~/Scripts/angular-app/services/servicesSection.js"></script>

	<script src="~/Scripts/angular-app/widgets/widgetsSection.js"></script>
	<script src="~/Scripts/angular-app/widgets/selectModalCtrl.js"></script>

	@Scripts.Render("~/bundles/edit-duplex-batch")
}
