@{
    Layout = "~/Views/Duplex/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/angular-toastr/angular-toastr.css" rel="stylesheet" />
    <link href="~/Content/Styles/Duplexes/import-duplexes.css" rel="stylesheet" />
}

<div class="container-fluid" ng-app="app.duplexes" ng-cloak>
    <div ui-view></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/contextmenu")
    <script src="~/Scripts/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-toastr/angular-toastr.tpls.js"></script>
    <script src="~/Scripts/angular-local-storage/angular-local-storage.js"></script>
    <script src="~/Scripts/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="~/Scripts/ng-file-upload/ng-file-upload.js"></script>

    @Scripts.Render("~/bundles/angular-app")

    <script src="~/Scripts/angular-app/common/commonSection.js"></script>
    <script src="~/Scripts/angular-app/common/dataProvider.js"></script>
    <script src="~/Scripts/angular-app/common/utils.js"></script>
    <script src="~/Scripts/angular-app/common/toasterService.js"></script>

    @Scripts.Render("~/bundles/logger")

    <script src="~/Scripts/angular-app/services/servicesSection.js"></script>

    <script src="~/Scripts/angular-app/widgets/widgetsSection.js"></script>
    <script src="~/Scripts/angular-app/widgets/selectModalCtrl.js"></script>
    <script src="~/Scripts/angular-app/widgets/confirmModalCtrl.js"></script>
    <script src="~/Scripts/angular-app/widgets/deleteModalService.js"></script>

    @Scripts.Render("~/bundles/import-duplexes")
}