textarea {
    max-width: 100%;
}

.table-header {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}
.table-header + div {
    word-wrap: break-word;
}
.table-row {
    margin-bottom: 10px;
}

.label-top {
    position: relative;
    top: -10px;
    left: 5px;
}

.invalid {
    border: 1px solid red;
}

.ng-cloak {
    display: none !important;
}

input:invalid {
    outline: none;
}

.remove-strand-btn {
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
    color: red;
}

    .remove-strand-btn:hover {
        text-decoration: none;
        color: #e50000;
    }

.strand-batch-table {
    max-height: 100px;
    height: 100px;
    overflow: auto;
}
